:root {
    --colorGray: #d6d0c1;
    --colorBlack: #0d0900;
    --colorWhite: #fcfcfa;
    --colorGold: #e6aa12;
    --colorLightGold: #faf2de;
}

/* generic site styles */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}