@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    /*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: "SF Pro Text", "SF Pro Icons", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    @apply bg-white;
    padding: 0;
    margin: 0;
  }

  header {
    padding: 0;
    /*max-width: 1200px;*/
    margin: 0 auto;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-between;
  }

  nav li {
    flex-basis: 48%;
    margin-bottom: 0.5rem;
  }

  nav li:first-child {
    flex-basis: 100%;
    text-align: center;
  }

  nav li:first-child a {
    background-color: transparent;
    width: fit-content;
    margin: 0 auto;
  }

  nav a {
    text-decoration: none;
    font-size: 1.2rem;
    @apply text-white;
    padding: 0.5rem;
    text-align: center;
    display: block;
    @apply bg-gold;
    border-radius: 5px;
  }

  nav a:hover {
    @apply text-lightgold;
  }

  section {
    max-width: 2400px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  figure {
    margin: 0 0 0.5rem 0;
    padding: 0;
    max-height: 400px;
    overflow: hidden;
    position: relative;
  }

  figure img {
    margin-bottom: -4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*object-position: 0 -150px;*/
  }

  figcaption {
    /*background-color: rgba(250, 242, 222, 0.8);*/
    background-color: rgba(239, 175, 55, 0.8);
    font-size: 1.875rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  figcaption a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }

  h2 {
    padding-bottom: 1.25rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    @apply text-gold;
  }

  /******** TABLETS **********/
  @screen md {
    header {
      padding: 3rem;
    }

    nav ul {
      justify-content: center;
      gap: 2rem;
    }

    nav li {
      flex-basis: auto;
      margin-bottom: 0;
    }

    nav a {
      @apply text-white;
      background-color: transparent;
      padding: 0;
    }
    nav a:hover {
      /*@apply text-gold;*/
      background-color: transparent;
    }

    section ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    section li {
      flex-basis: 49.5%;
    }

    figure img {
      object-position: 0;
    }
  }

  /******** DESKTOP **********/
  @screen lg {
    /* navigation - logo in the center */
    nav ul {
      justify-content: flex-end;
    }

    nav li:first-child {
      flex-basis: auto;
      margin: 0 auto;
      order: 2;
    }

    nav li:nth-child(2),
    nav li:nth-child(3),
    nav li:nth-child(4) {
      order: 1;
    }

    nav li:nth-child(5),
    nav li:nth-child(6),
    nav li:nth-child(7) {
      order: 3;
    }

    section li {
      flex-basis: 32.5%;
    }
  }
}

@layer components {
  .search-input {
    @apply mb-5 block w-60;
  }
}

@layer utilities {
  .grayed-out-disabled {
    @apply disabled:opacity-50;
  }
}
